.App {
  text-align: center;
  background: linear-gradient(to right, #1e3c72, #2a5298);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 20px;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: 100%;
  max-width: 1200px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
}

.App-logo {
  height: 100px;
  border-radius: 50%;
  margin-bottom: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  border: 3px solid white;
}

.text-colored {
  font-size: 17px;
  font-weight: bold;
  color: #333;
}

.modal,
.modal-2 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content,
.modal-content-2 {
  background: #fff;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-content {
  width: 400px;
  max-height: 500px;
  overflow-y: auto;
}

.modal-content-2 {
  width: 90%;
  max-width: 500px;
}

.modal-title {
  color: #333;
  font-size: 1.5rem;
  margin-bottom: 20px;
  text-align: center;
}

.modal-body {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.modal-label {
  display: flex;
  flex-direction: column;
  color: #555;
  font-size: 1rem;
}

.modal-input,
.modal-select,
.filter-input {
  margin-top: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  width: 90%;
}

.modal-checkbox {
  margin-top: 10px;
  transform: scale(1.2);
}

.modal-footer {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.modal-button {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  transition: background 0.3s ease;
}

.confirm-button {
  background: #4caf50;
  color: white;
}

.confirm-button:hover {
  background: #45a049;
}

.cancel-button {
  background: #f44336;
  color: white;
}

.cancel-button:hover {
  background: #e41e26;
}

.pagination {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.pagination button {
  margin: 5px;
  padding: 8px 12px;
  background-color: #007bff;
  border: none;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.pagination button:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}

.pagination .active {
  background-color: #0056b3;
  font-weight: bold;
}

.bonus-item {
  margin-bottom: 10px;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.fixtures-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}

.fixture-item {
  background: #fff;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.league-info p {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

.teams-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.team-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.team-logo {
  width: 50px;
  height: 50px;
  object-fit: contain;
  border-radius: 50%;
  background: #f0f0f0;
  padding: 5px;
}

.vs-text {
  font-weight: bold;
  font-size: 1.2rem;
  color: #555;
}

.fixture-date p{
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 15px;
}

.fixture-odds {
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.odds-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}

.odds-info p {
  margin: 0;
  font-weight: bold;
}

.odds-values {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  gap: 20px;
}

.odds-value {
  text-align: center;
}

.odds-value p {
  margin: 0;
}

.bonos-info {
  font-size: 1rem;
  font-weight: bold;
  color: #007bff;
}

.buy-button,
.recommendation-button {
  background: #28a745;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 10px;
  transition: background 0.3s ease;
}

.buy-button:hover,
.recommendation-button:hover {
  background: #218838;
}

.no-fixtures {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  color: #888;
}

.user-info-container {
  position: fixed;
  top: 0;
  left: 0; /* Cambiado de -300px para facilitar el uso de transform */
  height: 100%;
  width: 300px;
  background: #f9f9f9; /* Color de fondo más suave */
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 0 15px 15px 0;
  padding: 20px 10px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto; /* Para habilitar el desplazamiento */
  transition: transform 0.3s ease-in-out;
  max-height: 100vh; /* No excede la pantalla */
  direction: rtl; /* Cambiar la dirección para que el scrollbar aparezca a la izquierda */
}

.external-toggle-button {
  position: fixed;
  top: 5%;
  left: 10px; /* Justo al lado del contenedor cerrado */
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  background: #898989;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1001;
  transition: left 0.3s ease-in-out;
}

.external-toggle-button.open {
  left: 310px; /* Ajustar la posición cuando el contenedor está abierto */
}

.external-toggle-button:hover {
  background: #3e3e3e;
}

.user-info-container.open {
  transform: translateX(0); /* Abierto completamente */
}

.user-info-container.closed {
  transform: translateX(-94%); /* Oculto fuera de la pantalla */
}

.user-info {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.user-info h3,
.user-info p {
  color: #333;
}

.user-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.user-details {
  overflow-y: auto; /* Permite el desplazamiento si el contenido es largo */
  flex-grow: 1; /* Ocupa el espacio disponible */
}

.user-picture {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin: 10px auto;
}

.logout-button,
.add-money-button,
.my-requests-button {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border: none;
  border-radius: 8px;
  background: #007bff;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
}

.logout-button:hover,
.add-money-button:hover,
.my-requests-button:hover {
  background: #0056b3;
}

.wallet-balance,
.bonuses-section,
.worker-status {
  margin: 10px 0;
  color: #666;
}

.worker-status p {
  font-size: 0.9rem;
  color: #666;
}

.admin-discount-section {
  background: #e9ecef; /* Fondo distintivo */
  padding: 15px;
  border-radius: 10px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 50px;
}

.admin-discount-section h3 {
  margin-bottom: 10px;
  color: #333;
  text-align: center;
}

.discount-label {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  color: #333;
}

.discount-input {
  margin-top: 5px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.activate-discount-button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 8px;
  background: #28a745;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
}

.activate-discount-button:hover {
  background: #218838;
}

.worker-status p {
  font-size: 0.9rem;
  color: #666;
  margin-top: 10px;
}

.filters-container {
  margin-top: 20px;
}

.filters {
  display: flex;
  margin-top: 10px;
}

.filter-input:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 4px rgba(0, 123, 255, 0.5);
}

.recommendation-result {
  margin-top: 10px;
  background: #f8f9fa;
  padding: 15px;
  border-radius: 8px;
  text-align: left;
  font-family: monospace;
  font-size: 0.9rem;
}

.price-info p {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
}

.price-info h4 {
  font-size: 1rem;
  font-weight: bold;
  color: #910101;
}


